<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B42A51B51D1EC83400B29A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42A51CE1D1EC83400B29A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42A51D91D1EC83400B29A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
